<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="NLog" version="4.5.2" targetFramework="net452" />
  <package id="NLog.Schema" version="4.5.2" targetFramework="net452" />
  <package id="Pinyin4DotNet" version="2016.4.23.4" targetFramework="net452" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net452" />
</packages>